<section id="contact">
  <div class="section-header">
    <h1>{{ translation.t("contact.title") }}</h1>
  </div>

  <div class="contact-container">
    <div class="card">
      <div class="info">
        <h2>{{ translation.t("contact.letsWorkTogether") }}</h2>
        <p>{{ translation.t("contact.description") }}</p>
        <div class="contact-info">
          <a href="mailto:placeholder" class="contact-link">
            <img src="./assets/profile/envelope.png" alt="" />
            <span>{{ translation.t("contact.mail") }}</span>
          </a>
          <a href="tel:placeholder" class="contact-link">
            <img src="./assets/profile/phone.png" alt="" />
            <span>{{ translation.t("contact.phone") }}</span>
          </a>
        </div>

        <form class="contact-form" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
          <div class="form-row">
            <div class="form-group">
              <input type="text" id="name" name="name" [(ngModel)]="contactData.name" placeholder=" " required/>
              <label for="name">{{ translation.t("contact.form.name") }}</label>
            </div>

            <div class="form-group">
              <input type="email" id="email" name="email" [(ngModel)]="contactData.email" #emailField="ngModel" email placeholder=" " required/>
              <label for="email">{{ translation.t("contact.form.email") }}</label>
            </div>
          </div>

          <div class="form-group full-width">
            <textarea id="message" name="message" rows="5" [(ngModel)]="contactData.message" placeholder=" " required></textarea>
            <label for="message">{{ translation.t("contact.form.message") }}</label>
          </div>

          <div class="privacy-checkbox">
            <input type="checkbox" id="privacy" name="privacy" ngModel required/>
            <label for="privacy">
              <span>{{ translation.t("contact.form.privacy.prefix") }}</span>
              <a href="#" class="privacy-link">{{ translation.t("contact.form.privacy.link") }}</a>
              <span>{{ translation.t("contact.form.privacy.suffix") }}</span>
            </label>
          </div>

          <button type="submit" class="submit-btn" [disabled]="!contactForm.form.valid">
            <img src="./assets/profile/send.png" alt="" />
            <span>{{ translation.t("contact.form.submit") }}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<div id="successMessage" class="success-message" *ngIf="showSuccess">
  <img src="./assets/profile/check-circle.png" alt="" />
  <p>{{ translation.t("contact.successMessage") }}</p>
</div>
