    <main>
      <section id="about">
        <div class="section-header">
          <h1>{{ translation.t('about.title') }}</h1>
        </div>

        <div class="card">
          <div class="photo-container">
            <img src="./assets/profile/picture-me2.png" class="profile-photo" />
            <h2>{{ translation.t('about.name') }}</h2>
          </div>
          <div class="info">
            <div class="about-details">
              <div class="detail-item">
                 <img src="./assets/profile/map.png" alt="">
                <span>{{ translation.t('about.location') }}</span>
              </div>
              <div class="detail-item">
                 <img src="./assets/profile/briefcase.png" alt="">
                <span>{{ translation.t('about.availability') }}</span>
              </div>
              <div class="detail-item">
                 <img src="./assets/profile/world.png" alt="">
                <span>{{ translation.t('about.relocation') }}</span>
              </div>
              <div class="detail-item">
                 <img src="./assets/profile/chat.png" alt="">
                <span>{{ translation.t('about.languages') }}</span>
              </div>
            </div>
            <p>{{ translation.t('about.description') }}</p>
          </div>
        </div>
      </section>

