    <main>
      <section id="about">
        <div class="section-header">
          <h1 data-i18n="about.title">Über mich</h1>
        </div>

        <div class="card">
          <div class="photo-container">
            <img src="./assets/profile/picture-me2.png" class="profile-photo" />
            <h2 data-i18n="about.name">Ronny Pollmer</h2>
          </div>
          <div class="info">
            <div class="about-details">
              <div class="detail-item">
                 <img src="./assets/profile/map.png" alt="">
                <span data-i18n="about.location">Geisenfeld, Deutschland</span>
              </div>
              <div class="detail-item">
                 <img src="./assets/profile/briefcase.png" alt="">
                <span data-i18n="about.availability"
                  >Verfügbar für Remote & Vor-Ort Positionen</span>
              </div>
              <div class="detail-item">
                 <img src="./assets/profile/world.png" alt="">
                <span data-i18n="about.relocation">Offen für Relocation</span>
              </div>
              <div class="detail-item">
                 <img src="./assets/profile/chat.png" alt="">
                <span data-i18n="about.languages"
                  >Deutsch (Muttersprache), Englisch (Kommunikationssicher)</span>
              </div>
            </div>
            <p data-i18n="about.description">
              Mein Name ist Ronny Pollmer – ein leidenschaftlicher Frontend
              Developer mit einem Auge für Design und einem Händchen für
              Problemlösungen. Meine IT-Karriere begann mit einem
              Kindheitstraum, den ich nach Jahren endlich verwirkliche.
              Inspiriert von der Magie des Programmierens wagte ich den Schritt
              in die Webentwicklung und entdeckte meine Leidenschaft für
              sauberen Code und ansprechendes Design. Mit einer soliden Basis in
              Hardware-Diagnose und ersten Programmiererfahrungen meisterte ich
              die Herausforderungen der Weiterbildung – immer im Balanceakt
              zwischen Arbeit, Familie und Lernen. Diese Erfahrung schärfte mein
              Durchhaltevermögen und meine Stressresistenz, die ich heute in
              jedes Projekt einbringe. Meine Stärken liegen in HTML, CSS und der
              Kunst, komplexe Probleme in elegante Lösungen zu verwandeln.
              Projekte wie "El Pollo Loco" lehrten mich, wie viel Detailarbeit
              in guter Software steckt und wie erfüllend es ist, solche
              Herausforderungen zu meistern. In Teamprojekten erlebte ich, wie
              produktive Zusammenarbeit zu großartigen Ergebnissen führt. Ich
              suche ein Team, das Wert auf Transparenz und gutes Miteinander
              legt, und möchte Apps entwickeln, die Nutzer*innen sowohl
              funktional als auch visuell begeistern. Neben meinen technischen
              Skills verbessere ich stetig meine Englischkenntnisse – denn
              lebenslanges Lernen gehört für mich dazu. Mit meiner Begeisterung
              für cleanen Code und durchdachte Benutzererfahrungen freue ich
              mich auf spannende Projekte!
            </p>
          </div>
        </div>
      </section>

