    <footer>
      <div class="footer-content">
        <div class="footer-brand">
          <h3>{{ translation.t('footer.name') }}</h3>
          <p>{{ translation.t('footer.title') }}</p>
        </div>

        <div class="footer-nav">
          <a href="#about" data-i18n="footer.about">{{ translation.t('footer.about') }}</a>
          <a href="#skills" data-i18n="footer.skills">{{ translation.t('footer.skills') }}</a>
          <a href="#projects" data-i18n="footer.projects">{{ translation.t('footer.projects') }}</a>
          <a href="#contact" data-i18n="footer.contact">{{ translation.t('footer.contact') }}</a>
        </div>

        <div class="footer-social">
          <a href="https://www.linkedin.com/in/ronny-pollmer-1b7886334/" target="_blank" class="social-icon" aria-label="LinkedIn">
              <img src="./assets/profile/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.xing.com/profile/Ronny_Pollmer/web_profiles?nwt_nav=profile&expandNeffi=true" target="_blank" class="social-icon" aria-label="Xing">
              <img src="./assets/profile/xing.png" alt="Xing">
            </a>
          <a href="mailto:ronny@beispiel.com" class="social-icon" aria-label="E-Mail">
            <img src="./assets/profile/envelope.png" alt="Mail">
          </a>
        </div>

        <div class="footer-legal">
          <!-- <a href="imprint.html" class="legal-link" data-i18n="footer.imprint">{{ translation.t('footer.imprint') }}</a> -->
          <a class="legal-link" routerLink="/imprint">{{ translation.t("footer.imprint") }}</a>
          <span class="separator">•</span>
          <!-- <a href="privacy-policy.html" class="legal-link" data-i18n="footer.privacy">{{ translation.t('footer.privacy') }}</a> -->
          <a class="legal-link" routerLink="/privacy">{{ translation.t('footer.privacy') }}</a>
          <span class="separator">•</span>
          <span class="copyright">© 2024 <span data-i18n="footer.name">{{ translation.t('footer.name') }}</span></span>
        </div>
      </div>
    </footer>

   

