<nav class="navbar">
  <div class="nav-container">
    <a href="#" class="nav-logo" data-i18n="nav.logo">Ronny Pollmer</a>
    <div class="nav-menu" [class.active]="isMenuOpen">
      <a class="nav-link" (click)="closeMenu()" [routerLink]="['/']" fragment="about">{{ translation.t("nav.about") }}</a>
      <a class="nav-link" (click)="closeMenu()" [routerLink]="['/']" fragment="skills">{{ translation.t("nav.skills") }}</a>
      <a class="nav-link" (click)="closeMenu()" [routerLink]="['/']" fragment="projects">{{ translation.t("nav.projects") }}</a>
      <a class="nav-link" (click)="closeMenu()" [routerLink]="['/']" fragment="contact">{{ translation.t("nav.contact") }}</a>
      <div class="language-toggle">
        <button class="lang-btn" (click)="closeMenu()" [class.active]="translation.currentLang === 'de'" (click)="changeLanguage('de')">DE</button>
        <button class="lang-btn" (click)="closeMenu()" [class.active]="translation.currentLang === 'en'" (click)="changeLanguage('en')">EN</button>
      </div>
      <div class="nav-social">
        <a href="https://www.linkedin.com/in/ronny-pollmer-1b7886334/" target="_blank" class="social-icon" (click)="closeMenu()" aria-label="LinkedIn">
          <img src="./assets/profile/linkedin.png" alt="LinkedIn" />
        </a>
        <a href="https://www.xing.com/profile/Ronny_Pollmer/web_profiles?nwt_nav=profile&expandNeffi=true" target="_blank" class="social-icon" (click)="closeMenu()" aria-label="Xing">
          <img src="./assets/profile/xing.png" alt="Xing" />
        </a>
        <a href="mailto:career@ronny-pollmer.com" class="social-icon" (click)="closeMenu()" aria-label="E-Mail">
          <img src="./assets/profile/envelope.png" alt="Mail" />
        </a>
      </div>
    </div>
    <button class="nav-toggle" (click)="toggleMenu()">
      <img [src]="isMenuOpen ? 'assets/profile/window-close.png': 'assets/profile/menu.png'" alt=""/>
    </button>
  </div>
</nav>
