      <section id="projects">
        <div class="section-header">
          <h1>{{ translation.t('projects.title') }}</h1>
        </div>
        <div class="projects-container">
          <div class="project-card">
            <div class="card">
              <div class="info">
                <img class="project-img" src="./assets/project/pokemon-screen.png" alt="Pokédex Projekt" />
                <h1>{{ translation.t('projects.pokedex.title') }}</h1>
                <p>{{ translation.t('projects.pokedex.description') }}</p>
                <div class="project-links">
                  <a href="http://ronny-pollmer.com/Pokedex/" class="project-link" target="_blank" class="project-link">
                     <img class="project-icon" src="./assets/project/link-external.png" alt="">
                    <span>{{ translation.t('projects.liveDemo') }}</span>
                  </a>
                  <a href="https://github.com/Silwayne/Pokedex" class="project-link" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/github-logo.png" alt="">
                    <span>{{ translation.t('projects.githubRepo') }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="card">
              <div class="info">
                <img class="project-img" src="./assets/project/ell-pollo-loco-screen.png" alt="El Pollo Loco Spiel"/>
                <h1>{{ translation.t('projects.elPolloLoco.title') }}</h1>
                <p>{{ translation.t('projects.elPolloLoco.description') }}</p>
                <div class="project-links">
                  <a href="http://ronny-pollmer.com/El_Pollo_Loco/" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/link-external.png" alt="">
                    <span>{{ translation.t('projects.liveDemo') }}</span>
                  </a>
                  <a href="https://github.com/Silwayne/El-Pollo-Loco" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/github-logo.png" alt="">
                    <span>{{ translation.t('projects.githubRepo') }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="card">
              <div class="info">
                <img class="project-img" src="./assets/project/join-start-screen.png" alt="Join Projekt" />
                <h1>{{ translation.t('projects.join.title') }}</h1>
                <p>{{ translation.t('projects.join.description') }}</p>
                <div class="project-links">
                  <a href="http://ronny-pollmer.com/Join/" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/link-external.png" alt="">
                    <span>{{ translation.t('projects.liveDemo') }}</span>
                  </a>
                  <a href="https://github.com/Silwayne/Join" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/github-logo.png" alt="">
                    <span>{{ translation.t('projects.githubRepo') }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

