      <section id="projects">
        <div class="section-header">
          <h1 data-i18n="projects.title">Meine Projekte</h1>
        </div>
        <div class="projects-container">
          <div class="project-card">
            <div class="card">
              <div class="info">
                <img class="project-img" src="./assets/project/pokemon-screen.png" alt="Pokédex Projekt" />
                <h1 data-i18n="projects.pokedex.title">Pokédex</h1>
                <p data-i18n="projects.pokedex.description">
                  Ein interaktives Verzeichnis aller Pokémon mit detaillierten
                  Informationen und Suchfunktion.
                </p>
                <div class="project-links">
                  <a href="http://ronny-pollmer.com/Pokedex/" class="project-link" target="_blank" class="project-link">
                     <img class="project-icon" src="./assets/project/link-external.png" alt="">
                    <span data-i18n="projects.liveDemo">Live Demo</span>
                  </a>
                  <a href="https://github.com/Silwayne/Pokedex" class="project-link" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/github-logo.png" alt="">
                    GitHub
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="card">
              <div class="info">
                <img class="project-img" src="./assets/project/ell-pollo-loco-screen.png" alt="El Pollo Loco Spiel"/>
                <h1 data-i18n="projects.elPolloLoco.title">El Pollo Loco</h1>
                <p data-i18n="projects.elPolloLoco.description">
                  Ein Jump and Run Spiel, bei dem der Spieler Münzen und
                  Flaschen Sammeln muss, um einen Endgegner zu besiegen.
                </p>
                <div class="project-links">
                  <a href="http://ronny-pollmer.com/El_Pollo_Loco/" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/link-external.png" alt="">
                    <span data-i18n="projects.liveDemo">Live Demo</span>
                  </a>
                  <a href="https://github.com/Silwayne/El-Pollo-Loco" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/github-logo.png" alt="">
                    GitHub
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="project-card">
            <div class="card">
              <div class="info">
                <img class="project-img" src="./assets/project/join-start-screen.png" alt="Join Projekt" />
                <h1 data-i18n="projects.join.title">Join</h1>
                <p data-i18n="projects.join.description">
                  Eine Business Application für die Verwaltung von Projekten und
                  Teams.
                </p>
                <div class="project-links">
                  <a href="http://ronny-pollmer.com/Join/" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/link-external.png" alt="">
                    <span data-i18n="projects.liveDemo">Live Demo</span>
                  </a>
                  <a href="https://github.com/Silwayne/Join" target="_blank" class="project-link">
                    <img class="project-icon" src="./assets/project/github-logo.png" alt="">
                    GitHub
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

